*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans Extrabold', sans-serif;

}
.container{
    width: 90%;
    padding: 10px;
    justify-content: center;
}
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
    outline: none;
    transition: 0.5s;
}
.active, .accordion:hover{
    background-color: #ccc;
}
.panel{
    padding: 10px 20px;
    display: none;
    background-color: white;
    overflow: hidden;
}